body { background-color:#110033; color: white; font-weight: 400; font-family: Tahoma; margin: 5%; font-size: 11pt}
.title { font-family: Orbitron; font-weight: 500; }
h2 { font-weight: 300; text-decoration: underline; text-align: center}
h3 { font-weight: 300 }
blockquote { color: #ffdd99; font-size: 12pt }
p { color: #aaddee}
a { color: #00dddd}
